#box{
    background-color: yellow;
    width: 8rem;
    height: 8rem;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 5%;
}
#box p{
    font-size: 1.2rem;
    text-align: center;
}